In [1]:
import pandas as pd

print("Hi! This is a cell. Press the ▶ button above to run it")

Hi! This is a cell. Press the ▶ button above to run it

In [99]:
import pandas as pd
filename = 'vacancies.xlsx'
# xl_file = pd.ExcelFile('vacancies.xlsx')
dfs = pd.read_excel(filename, sheet_name='data')
# dfs.head()
# dfs.groupby('vacancy_type')
# dfs.index
standart_plus = dfs.loc[dfs['vacancy_type'] == 'STANDART PLUS']
districts = standart_plus['district_name']
districts_plus_count = districts.value_counts()
districts_plus_count.name = 'standart plus'
another = dfs.loc[dfs['vacancy_type'] != 'STANDART PLUS']
districts_a = another['district_name']
districts_a_count = districts_a.value_counts()
# type(districts_a_count)
pd.concat([districts_plus_count, districts_a_count], axis = 1)
# print (districts_plus_count/districts_a_count)

# regions.groupby('region_name').agg(['count'])
# standart_plus.groupby('region_name').agg(['count'])

      district_name  district_name
ЦФО            3211           3948
ПФО            1450           1877
СЗФО            981           1321
СФО             956           1418
УрФО            772            783
ЮФО             757           1367
ДВФО            238            759
СКФО            106            202

In [33]:
moscow = dfs.loc[dfs['region_name'] == 'Москва']
moscow_hunters = moscow['employer_id']
moscow_hunters.value_counts()

1222.0    67
1417.0    30
1377.0    23
1270.0    12
579.0     10
          ..
3696.0     1
3400.0     1
3408.0     1
2318.0     1
1208.0     1
Name: employer_id, Length: 2811, dtype: int64

In [36]:
top_hunter = moscow.loc[moscow['employer_id']==1222]
top_hunter_types = top_hunter['vacancy_type']
top_hunter_types.value_counts()

STANDART    67
Name: vacancy_type, dtype: int64

In [58]:
# by_employees = dfs.groupby('employer_id').agg(['count'])
# # by_employees[by_employees.Count == 1]
# by_employees[by_employees.count==1]
# y = dfs.groupby
# type(by_employees)
# singles = by_employees.loc['count']==1
# singles 
# regions.groupby('region_name').agg(['count'])
hunters = dfs['employer_id'].value_counts()
multis = hunters[hunters>1] #больше одной
# len(singles)
# multis = len(hunters)-len(singles)
# print (len(hunters))
# print (multis)
100*len(multis)/len(hunters)

17.003843086070624

In [91]:
#добавить колонку со сроком жизни каждой вакансии
#допустим получится 1,1,2,3,1,5,7
#это все сгруппировать под типам
#допустим вакансии одного типа получится 1,1,2,3,1,5,7

t = dfs.vacancy_type.unique()
dfs['lifetime']=dfs.archivation_date-dfs.creation_date
# types = types[~np.isnan(types)]
# t = t[numpy.logical_not(numpy.isnan(t))]
t = filter(lambda v: v==v, t)
for v_type in t:
    # print (value)
    by_type = dfs.loc[dfs['vacancy_type'] == v_type]
    # print (by_type)
    print (v_type)
    print(by_type.lifetime.quantile(0.1))

# type(types)
# types
# types.pop(nan)
# types = types[~np.isnan(types)]
# types
# dfs.vacancy_type.value_counts()
# stp= dfs.loc[dfs['vacancy_type'] == 'STANDART PLUS']
# stp['lifetime']=stp.archivation_date-stp.creation_date
# stp.lifetime.quantile(0.1)

# stp['lifetime'].value_counts()

STANDART
6 days 00:00:00
STANDART PLUS
11 days 00:00:00
PREMIUM
14 days 04:48:00
AP
30 days 00:00:00