In [99]:
import pandas as pd
filename = 'vacancies.xlsx'
dfs = pd.read_excel(filename, sheet_name='data')
standart_plus = dfs.loc[dfs['vacancy_type'] == 'STANDART PLUS']
districts = standart_plus['district_name']
districts_plus_count = districts.value_counts()
districts_plus_count.name = 'standart plus'
another = dfs.loc[dfs['vacancy_type'] != 'STANDART PLUS']
districts_a = another['district_name']
districts_a_count = districts_a.value_counts()
pd.concat([districts_plus_count, districts_a_count], axis = 1)

#Результат: регионы отсортированы по числу вакансий типа 'standart plus'

      district_name  district_name
ЦФО            3211           3948
ПФО            1450           1877
СЗФО            981           1321
СФО             956           1418
УрФО            772            783
ЮФО             757           1367
ДВФО            238            759
СКФО            106            202

In [33]:
moscow = dfs.loc[dfs['region_name'] == 'Москва']
moscow_hunters = moscow['employer_id']
moscow_hunters.value_counts()

#Результат: работодатели из Москвы (id в первом столбце) отсортировано по числу вакансий (второй столбец)

1222.0    67
1417.0    30
1377.0    23
1270.0    12
579.0     10
          ..
3696.0     1
3400.0     1
3408.0     1
2318.0     1
1208.0     1
Name: employer_id, Length: 2811, dtype: int64

In [36]:
top_hunter = moscow.loc[moscow['employer_id']==1222]
top_hunter_types = top_hunter['vacancy_type']
top_hunter_types.value_counts()

#Результат: Число вакансий каждого типа для работодателя с заданным id (в данном случае тип оказался только один)

STANDART    67
Name: vacancy_type, dtype: int64

In [58]:
hunters = dfs['employer_id'].value_counts()
multis = hunters[hunters>1] 
100*len(multis)/len(hunters)

#Результат: процент работодателей, разместивших на сайте больше одной вакансии

17.003843086070624

In [91]:
t = dfs.vacancy_type.unique()
dfs['lifetime']=dfs.archivation_date-dfs.creation_date
t = filter(lambda v: v==v, t)
for v_type in t:
    by_type = dfs.loc[dfs['vacancy_type'] == v_type]
    print (v_type)
    print(by_type.lifetime.quantile(0.1))

#Результат: 10-ые процентили длительности жизни вакансий каждого типа, в днях

STANDART
6 days 00:00:00
STANDART PLUS
11 days 00:00:00
PREMIUM
14 days 04:48:00
AP
30 days 00:00:00